{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="col-md-12">

        <h1>Change Password</h1>

        {{ form_start(form, { 'attr': {'class': 'form-horizontal fos_user_change_password'} })  }}

        <div class="form-group">
            <label for="fos_user_registration_form[username]" class="col-md-2 control-label">New Password</label>
            <div class="col-md-4">
                <div class="form-errors  col-md-2">
                    {{ form_errors(form.plainPassword.first) }}
                </div>
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'New Password' } }) }}
            </div>
        </div>

        <div class="form-group">
            <label for="fos_user_registration_form[username]" class="col-md-2 control-label">Confirm Password</label>
            <div class="col-md-4">
                <div class="form-errors  col-md-2">
                    {{ form_errors(form.plainPassword.second) }}
                </div>
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Confirm Password' } }) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" class="btn obg-form-btn obg-clear-form-btn" id="_submit" name="_submit" value="Change Password" />
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</div>

